@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk-Regular"),
    url("./fonts/SpaceGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk-Bold"),
    url("./fonts/SpaceGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk-Medium"),
    url("./fonts/SpaceGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk-Light"),
    url("./fonts/SpaceGrotesk-Light.otf") format("opentype");
  font-weight: 300;
}

body {
  margin: 0;
  font-family: "SpaceGrotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}
